In [18]:
!${HOME}
!${PWD}
!ls -l

/bin/sh: 1: /root: Permission denied
/bin/sh: 1: /kaggle/working: Permission denied
total 4
---------- 1 root root 263 May  5 05:11 __notebook_source__.ipynb

In [19]:
import os
import argparse
import numpy as np
import pandas as pd
import random
import warnings
import json
import yaml
from matplotlib import pyplot as plt
import seaborn as sns
import gc
#from kaggle.api.kaggle_api_extended import KaggleApi

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import StratifiedKFold

# 機械学習モデル
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import AdaBoostClassifier
import xgboost as xgb
import lightgbm as lgb
import catboost

In [20]:
parser = argparse.ArgumentParser()
parser.add_argument("--exper_name", default="single_model", help="実験名")
parser.add_argument("--dataset_dir", type=str, default="../input/home-credit-default-risk")
parser.add_argument("--results_dir", type=str, default="../output/kaggle/working")
parser.add_argument("--submit_file", type=str, default="submission.csv")
parser.add_argument("--competition_id", type=str, default="home-credit-default-risk")
parser.add_argument("--classifier", choices=["logistic", "knn", "svm", "random_forest", "bagging", "adaboost", "xgboost", "lightgbm", "catboost", "mlp"], default="catboost", help="分類器モデルの種類")
parser.add_argument('--save_checkpoints_dir', type=str, default="checkpoints", help="モデルの保存ディレクトリ")
parser.add_argument("--params_file", type=str, default="")
parser.add_argument('--load_checkpoints_paths', action='append', help="モデルの読み込みファイルのパス")
parser.add_argument("--train_mode", choices=["train", "test", "eval"], default="train", help="")
parser.add_argument('--gdbt_train_type', choices=['train', 'fit'], default="fit", help="GDBTの学習タイプ")
parser.add_argument("--n_splits", type=int, default=4, help="CV での学習用データセットの分割数")
parser.add_argument("--seed", type=int, default=71)
parser.add_argument('--submit', action='store_true')
parser.add_argument('--eda', action='store_true')
parser.add_argument('--debug', action='store_true')
#args = parser.parse_args()
args = parser.parse_args(args=[])

# 実験名を自動的に変更
if( args.exper_name == "single_model" ):
    args.exper_name += "_" + args.classifier
    if( args.params_file != "" ):
        args.exper_name += "_" + args.params_file.split(".")[0]

for key, value in vars(args).items():
    print('%s: %s' % (str(key), str(value)))

exper_name: single_model_catboost
dataset_dir: ../input/home-credit-default-risk
results_dir: ../output/kaggle/working
submit_file: submission.csv
competition_id: home-credit-default-risk
classifier: catboost
save_checkpoints_dir: checkpoints
params_file:
load_checkpoints_paths: None
train_mode: train
gdbt_train_type: fit
n_splits: 4
seed: 71
submit: False
eda: False
debug: False

# データセットの読み込み

In [21]:
df_application_train = pd.read_csv( os.path.join(args.dataset_dir, "application_train.csv" ) )
df_application_test = pd.read_csv( os.path.join(args.dataset_dir, "application_test.csv" ) )

In [22]:
df_application_train.shape

(307511, 122)

In [23]:
df_application_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

# 前処理

In [24]:
def rename_columns_levels( df_data, base_name, base_columns_name ):
    # List of column names
    columns = [base_columns_name]

    # Iterate through the variables names
    for var in df_data.columns.levels[0]:
        # Skip the id name
        if var != base_columns_name:            
            # Iterate through the stat names
            for stat in df_data.columns.levels[1][:-1]:
                # Make a new column name for the variable and stat
                columns.append( base_name + '_%s_%s' % (var, stat))

    #print( df_data.columns )
    #print( columns )
    return columns

In [25]:
def agg_numeric(df, group_var, df_name):
    """Aggregates the numeric values in a dataframe. This can
    be used to create features for each instance of the grouping variable.
    
    Parameters
    --------
        df (dataframe): 
            the dataframe to calculate the statistics on
        group_var (string): 
            the variable by which to group df
        df_name (string): 
            the variable used to rename the columns
        
    Return
    --------
        agg (dataframe): 
            a dataframe with the statistics aggregated for 
            all numeric columns. Each instance of the grouping variable will have 
            the statistics (mean, min, max, sum; currently supported) calculated. 
            The columns are also renamed to keep track of features created.
    
    """
    # Remove id variables other than grouping variable
    for col in df:
        if col != group_var and 'SK_ID' in col:
            df = df.drop(columns = col)
            
    group_ids = df[group_var]
    numeric_df = df.select_dtypes('number')
    numeric_df[group_var] = group_ids

    # Group by the specified variable and calculate the statistics
    agg = numeric_df.groupby(group_var).agg(['count', 'mean', 'max', 'min', 'sum']).reset_index()

    # Need to create new column names
    columns = [group_var]

    # Iterate through the variables names
    for var in agg.columns.levels[0]:
        # Skip the grouping variable
        if var != group_var:
            # Iterate through the stat names
            for stat in agg.columns.levels[1][:-1]:
                # Make a new column name for the variable and stat
                columns.append('%s_%s_%s' % (df_name, var, stat))

    agg.columns = columns
    return agg

In [26]:
def count_categorical(df, group_var, df_name):
    """Computes counts and normalized counts for each observation
    of `group_var` of each unique category in every categorical variable
    
    Parameters
    --------
    df : dataframe 
        The dataframe to calculate the value counts for.
        
    group_var : string
        The variable by which to group the dataframe. For each unique
        value of this variable, the final dataframe will have one row
        
    df_name : string
        Variable added to the front of column names to keep track of columns

    
    Return
    --------
    categorical : dataframe
        A dataframe with counts and normalized counts of each unique category in every categorical variable
        with one row for every unique value of the `group_var`.
        
    """
    
    # Select the categorical columns
    categorical = pd.get_dummies(df.select_dtypes('object'))

    # Make sure to put the identifying id on the column
    categorical[group_var] = df[group_var]

    # Groupby the group var and calculate the sum and mean
    categorical = categorical.groupby(group_var).agg(['sum', 'mean'])
    
    column_names = []
    
    # Iterate through the columns in level 0
    for var in categorical.columns.levels[0]:
        # Iterate through the stats in level 1
        for stat in ['count', 'count_norm']:
            # Make a new column name
            column_names.append('%s_%s_%s' % (df_name, var, stat))
    
    categorical.columns = column_names
    
    return categorical

In [27]:
# 目的変数
target_name = 'TARGET'

#===========================
# 無用なデータを除外（結合前）
#===========================
# application_{train|test}
df_application_train.drop(['FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21'], axis=1, inplace=True)
df_application_test.drop(['FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21'], axis=1, inplace=True)

In [28]:
df_application_train.shape

(307511, 105)

## サブ構造の結合[](http://)

### [](http://)bureau

In [29]:
# bureau
df_bureau = pd.read_csv( os.path.join(args.dataset_dir, "bureau.csv" ) )

In [30]:
df_bureau.shape

(1716428, 17)

In [31]:
df_bureau.head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,0.0,Consumer credit,-21,NaN

In [32]:
"""
for col in df_bureau.columns:
    # ラベル情報のエンコード
    if( df_bureau[col].dtypes == "object" ):
        label_encoder = LabelEncoder()
        label_encoder.fit(list(df_bureau[col]))
        df_bureau[col] = label_encoder.transform(list(df_bureau[col]))

# 同じ SK_ID_CURR の行を 過去の申込み回数（SK_ID_CURR あたりの SK_ID_BUREAU の個数）,　各々の特徴量の mean, max, min, で集約する。 
df_bureau_agg = df_bureau.drop(columns = ['SK_ID_BUREAU']).groupby('SK_ID_CURR', as_index = False).agg(['count', 'mean', 'max', 'min']).reset_index()
df_bureau_agg.columns = rename_columns_levels( df_bureau_agg, "bureau", 'SK_ID_CURR' )
"""

"""
# サブ構造を結合
df_bureau = pd.merge(df_bureau, df_bureau_balance_agg, on='SK_ID_CURR', how='left' )

# 不要になったメモリを開放
del df_bureau_balance_agg
gc.collect()

df_bureau = pd.merge(df_bureau, df_bureau_agg, on='SK_ID_CURR', how='left' )

# 不要になったメモリを開放
del df_bureau_agg
gc.collect()
"""

"\n# サブ構造を結合\ndf_bureau = pd.merge(df_bureau, df_bureau_balance_agg, on='SK_ID_CURR', how='left' )\n\n# 不要になったメモリを開放\ndel df_bureau_balance_agg\ngc.collect()\n\ndf_bureau = pd.merge(df_bureau, df_bureau_agg, on='SK_ID_CURR', how='left' )\n\n# 不要になったメモリを開放\ndel df_bureau_agg\ngc.collect()\n"

In [33]:
df_bureau_categorical_agg = count_categorical(df_bureau, group_var = 'SK_ID_CURR', df_name = 'bureau')
df_bureau_categorical_agg.head()

,bureau_CREDIT_ACTIVE_Active_count,bureau_CREDIT_ACTIVE_Active_count_norm,bureau_CREDIT_ACTIVE_Bad debt_count,bureau_CREDIT_ACTIVE_Bad debt_count_norm,bureau_CREDIT_ACTIVE_Closed_count,bureau_CREDIT_ACTIVE_Closed_count_norm,bureau_CREDIT_ACTIVE_Sold_count,bureau_CREDIT_ACTIVE_Sold_count_norm,bureau_CREDIT_CURRENCY_currency 1_count,bureau_CREDIT_CURRENCY_currency 1_count_norm,...,bureau_CREDIT_TYPE_Microloan_count,bureau_CREDIT_TYPE_Microloan_count_norm,bureau_CREDIT_TYPE_Mobile operator loan_count,bureau_CREDIT_TYPE_Mobile operator loan_count_norm,bureau_CREDIT_TYPE_Mortgage_count,bureau_CREDIT_TYPE_Mortgage_count_norm,bureau_CREDIT_TYPE_Real estate loan_count,bureau_CREDIT_TYPE_Real estate loan_count_norm,bureau_CREDIT_TYPE_Unknown type of loan_count,bureau_CREDIT_TYPE_Unknown type of loan_count_norm
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100001,3,0.428571,0,0.0,4,0.571429,0,0.0,7,1.0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
100002,2,0.250000,0,0.0,6,0.750000,0,0.0,8,1.0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
100003,1,0.250000,0,0.0,3,0.750000,0,0.0,4,1.0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
100004,0,0.000000,0,0.0,2,1.000000,0,0.0,2,1.0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
100005,2,0.666667,0,0.0,1,0.333333,0,0.0,3,1.0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0

In [34]:
df_bureau_numric_agg = agg_numeric(df_bureau.drop(columns = ['SK_ID_BUREAU']), group_var = 'SK_ID_CURR', df_name = 'bureau')
df_bureau_numric_agg.head()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,SK_ID_CURR,bureau_DAYS_CREDIT_count,bureau_DAYS_CREDIT_mean,bureau_DAYS_CREDIT_max,bureau_DAYS_CREDIT_min,bureau_DAYS_CREDIT_sum,bureau_CREDIT_DAY_OVERDUE_count,bureau_CREDIT_DAY_OVERDUE_mean,bureau_CREDIT_DAY_OVERDUE_max,bureau_CREDIT_DAY_OVERDUE_min,...,bureau_DAYS_CREDIT_UPDATE_count,bureau_DAYS_CREDIT_UPDATE_mean,bureau_DAYS_CREDIT_UPDATE_max,bureau_DAYS_CREDIT_UPDATE_min,bureau_DAYS_CREDIT_UPDATE_sum,bureau_AMT_ANNUITY_count,bureau_AMT_ANNUITY_mean,bureau_AMT_ANNUITY_max,bureau_AMT_ANNUITY_min,bureau_AMT_ANNUITY_sum
0,100001,7,-735.000000,-49,-1572,-5145,7,0.0,0,0,...,7,-93.142857,-6,-155,-652,7,3545.357143,10822.5,0.0,24817.5
1,100002,8,-874.000000,-103,-1437,-6992,8,0.0,0,0,...,8,-499.875000,-7,-1185,-3999,7,0.000000,0.0,0.0,0.0
2,100003,4,-1400.750000,-606,-2586,-5603,4,0.0,0,0,...,4,-816.000000,-43,-2131,-3264,0,NaN,NaN,NaN,0.0
3,100004,2,-867.000000,-408,-1326,-1734,2,0.0,0,0,...,2,-532.000000,-382,-682,-1064,0,NaN,NaN,NaN,0.0
4,100005,3,-190.666667,-62,-373,-572,3,0.0,0,0,...,3,-54.333333,-11,-121,-163,3,1420.500000,4261.5,0.0,4261.5

### bureau_balance

In [35]:
df_bureau_balance = pd.read_csv( os.path.join(args.dataset_dir, "bureau_balance.csv" ) )

In [36]:
df_bureau_balance.shape

(27299925, 3)

In [37]:
df_bureau_balance.head()

   SK_ID_BUREAU  MONTHS_BALANCE STATUS
0       5715448               0      C
1       5715448              -1      C
2       5715448              -2      C
3       5715448              -3      C
4       5715448              -4      C

In [38]:
"""
for col in df_bureau_balance.columns:
    # ラベル情報のエンコード
    if( df_bureau_balance[col].dtypes == "object" ):
        label_encoder = LabelEncoder()
        label_encoder.fit(list(df_bureau_balance[col]))
        df_bureau_balance[col] = label_encoder.transform(list(df_bureau_balance[col]))


# 同じ SK_ID_BUREAU を集約
df_bureau_balance_count_agg = df_bureau_balance.groupby('SK_ID_BUREAU', as_index = False).agg(['count']).reset_index()
df_bureau_balance_agg = df_bureau_balance.groupby('SK_ID_BUREAU', as_index = False).agg(['count', 'mean', 'max', 'min']).reset_index()

del df_bureau_balance
gc.collect()

df_bureau_balance_agg.columns = rename_columns_levels( df_bureau_balance_agg, "bureau_balance", 'SK_ID_BUREAU' )

# SK_ID_CURR と SK_ID_BUREAU を紐付け
df_bureau_balance_agg = pd.merge(df_bureau[['SK_ID_BUREAU', 'SK_ID_CURR']], df_bureau_balance_agg, on='SK_ID_BUREAU', how='left' )
"""

'\nfor col in df_bureau_balance.columns:\n    # ラベル情報のエンコード\n    if( df_bureau_balance[col].dtypes == "object" ):\n        label_encoder = LabelEncoder()\n        label_encoder.fit(list(df_bureau_balance[col]))\n        df_bureau_balance[col] = label_encoder.transform(list(df_bureau_balance[col]))\n\n\n# 同じ SK_ID_BUREAU を集約\ndf_bureau_balance_count_agg = df_bureau_balance.groupby(\'SK_ID_BUREAU\', as_index = False).agg([\'count\']).reset_index()\ndf_bureau_balance_agg = df_bureau_balance.groupby(\'SK_ID_BUREAU\', as_index = False).agg([\'count\', \'mean\', \'max\', \'min\']).reset_index()\n\ndel df_bureau_balance\ngc.collect()\n\ndf_bureau_balance_agg.columns = rename_columns_levels( df_bureau_balance_agg, "bureau_balance", \'SK_ID_BUREAU\' )\n\n# SK_ID_CURR と SK_ID_BUREAU を紐付け\ndf_bureau_balance_agg = pd.merge(df_bureau[[\'SK_ID_BUREAU\', \'SK_ID_CURR\']], df_bureau_balance_agg, on=\'SK_ID_BUREAU\', how=\'left\' )\n'

In [40]:
df_bureau_balance_categorical_agg = count_categorical(df_bureau_balance, group_var = 'SK_ID_BUREAU', df_name = 'bureau_balance')
df_bureau_balance_categorical_agg.head()

,bureau_balance_STATUS_0_count,bureau_balance_STATUS_0_count_norm,bureau_balance_STATUS_1_count,bureau_balance_STATUS_1_count_norm,bureau_balance_STATUS_2_count,bureau_balance_STATUS_2_count_norm,bureau_balance_STATUS_3_count,bureau_balance_STATUS_3_count_norm,bureau_balance_STATUS_4_count,bureau_balance_STATUS_4_count_norm,bureau_balance_STATUS_5_count,bureau_balance_STATUS_5_count_norm,bureau_balance_STATUS_C_count,bureau_balance_STATUS_C_count_norm,bureau_balance_STATUS_X_count,bureau_balance_STATUS_X_count_norm
SK_ID_BUREAU,,,,,,,,,,,,,,,,
5001709,0,0.000000,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,86,0.886598,11,0.113402
5001710,5,0.060241,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,48,0.578313,30,0.361446
5001711,3,0.750000,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.000000,1,0.250000
5001712,10,0.526316,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,9,0.473684,0,0.000000
5001713,0,0.000000,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.000000,22,1.000000

In [41]:
df_bureau_balance_numric_agg = agg_numeric(df_bureau_balance, group_var = 'SK_ID_BUREAU', df_name = 'bureau_balance')
df_bureau_balance_numric_agg.head()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,SK_ID_BUREAU,bureau_balance_MONTHS_BALANCE_count,bureau_balance_MONTHS_BALANCE_mean,bureau_balance_MONTHS_BALANCE_max,bureau_balance_MONTHS_BALANCE_min,bureau_balance_MONTHS_BALANCE_sum
0,5001709,97,-48.0,0,-96,-4656
1,5001710,83,-41.0,0,-82,-3403
2,5001711,4,-1.5,0,-3,-6
3,5001712,19,-9.0,0,-18,-171
4,5001713,22,-10.5,0,-21,-231

In [43]:
df_bureau_balance_numric_agg.shape

(817395, 6)

In [47]:
# カテゴリー集約と数値集約データを結合
df_bureau_balance_agg = df_bureau_balance_numric_agg.merge(df_bureau_balance_categorical_agg, right_index = True, left_on = 'SK_ID_BUREAU', how = 'outer')
df_bureau_balance_agg.head()

,SK_ID_BUREAU,bureau_balance_MONTHS_BALANCE_count,bureau_balance_MONTHS_BALANCE_mean,bureau_balance_MONTHS_BALANCE_max,bureau_balance_MONTHS_BALANCE_min,bureau_balance_MONTHS_BALANCE_sum,bureau_balance_STATUS_0_count,bureau_balance_STATUS_0_count_norm,bureau_balance_STATUS_1_count,bureau_balance_STATUS_1_count_norm,...,bureau_balance_STATUS_3_count,bureau_balance_STATUS_3_count_norm,bureau_balance_STATUS_4_count,bureau_balance_STATUS_4_count_norm,bureau_balance_STATUS_5_count,bureau_balance_STATUS_5_count_norm,bureau_balance_STATUS_C_count,bureau_balance_STATUS_C_count_norm,bureau_balance_STATUS_X_count,bureau_balance_STATUS_X_count_norm
0,5001709,97,-48.0,0,-96,-4656,0,0.000000,0,0.0,...,0,0.0,0,0.0,0,0.0,86,0.886598,11,0.113402
1,5001710,83,-41.0,0,-82,-3403,5,0.060241,0,0.0,...,0,0.0,0,0.0,0,0.0,48,0.578313,30,0.361446
2,5001711,4,-1.5,0,-3,-6,3,0.750000,0,0.0,...,0,0.0,0,0.0,0,0.0,0,0.000000,1,0.250000
3,5001712,19,-9.0,0,-18,-171,10,0.526316,0,0.0,...,0,0.0,0,0.0,0,0.0,9,0.473684,0,0.000000
4,5001713,22,-10.5,0,-21,-231,0,0.000000,0,0.0,...,0,0.0,0,0.0,0,0.0,0,0.000000,22,1.000000

In [48]:
# 親データ （df_bureau） の 'SK_ID_CURR' に、対応する 'SK_ID_BUREAU' を紐付け
df_bureau_balance_agg = df_bureau[['SK_ID_BUREAU', 'SK_ID_CURR']].merge(df_bureau_balance_agg, on = 'SK_ID_BUREAU', how = 'left')
df_bureau_balance_agg.head()

,SK_ID_BUREAU,SK_ID_CURR,bureau_balance_MONTHS_BALANCE_count,bureau_balance_MONTHS_BALANCE_mean,bureau_balance_MONTHS_BALANCE_max,bureau_balance_MONTHS_BALANCE_min,bureau_balance_MONTHS_BALANCE_sum,bureau_balance_STATUS_0_count,bureau_balance_STATUS_0_count_norm,bureau_balance_STATUS_1_count,...,bureau_balance_STATUS_3_count,bureau_balance_STATUS_3_count_norm,bureau_balance_STATUS_4_count,bureau_balance_STATUS_4_count_norm,bureau_balance_STATUS_5_count,bureau_balance_STATUS_5_count_norm,bureau_balance_STATUS_C_count,bureau_balance_STATUS_C_count_norm,bureau_balance_STATUS_X_count,bureau_balance_STATUS_X_count_norm
0,5714462,215354,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5714463,215354,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5714464,215354,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5714465,215354,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5714466,215354,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

１つの `SK_ID_CURR` に対して、複数の `SK_ID_BUREAU` が存在することになるので、`SK_ID_CURR` を集約

In [49]:
# SK_ID_CURR で集約
df_bureau_balance_agg = agg_numeric(df_bureau_balance_agg.drop(columns = ['SK_ID_BUREAU']), group_var = 'SK_ID_CURR', df_name = 'client')
df_bureau_balance_agg.head()

,SK_ID_CURR,client_bureau_balance_MONTHS_BALANCE_count_count,client_bureau_balance_MONTHS_BALANCE_count_mean,client_bureau_balance_MONTHS_BALANCE_count_max,client_bureau_balance_MONTHS_BALANCE_count_min,client_bureau_balance_MONTHS_BALANCE_count_sum,client_bureau_balance_MONTHS_BALANCE_mean_count,client_bureau_balance_MONTHS_BALANCE_mean_mean,client_bureau_balance_MONTHS_BALANCE_mean_max,client_bureau_balance_MONTHS_BALANCE_mean_min,...,client_bureau_balance_STATUS_X_count_count,client_bureau_balance_STATUS_X_count_mean,client_bureau_balance_STATUS_X_count_max,client_bureau_balance_STATUS_X_count_min,client_bureau_balance_STATUS_X_count_sum,client_bureau_balance_STATUS_X_count_norm_count,client_bureau_balance_STATUS_X_count_norm_mean,client_bureau_balance_STATUS_X_count_norm_max,client_bureau_balance_STATUS_X_count_norm_min,client_bureau_balance_STATUS_X_count_norm_sum
0,100001,7,24.571429,52.0,2.0,172.0,7,-11.785714,-0.5,-25.5,...,7,4.285714,9.0,0.0,30.0,7,0.214590,0.500000,0.0,1.502129
1,100002,8,13.750000,22.0,4.0,110.0,8,-21.875000,-1.5,-39.5,...,8,1.875000,3.0,0.0,15.0,8,0.161932,0.500000,0.0,1.295455
2,100003,0,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,...,0,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,0.000000
3,100004,0,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,...,0,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,0.000000
4,100005,3,7.000000,13.0,3.0,21.0,3,-3.000000,-1.0,-6.0,...,3,0.666667,1.0,0.0,2.0,3,0.136752,0.333333,0.0,0.410256

In [52]:
# Merge with the value counts of bureau
df_application_train = df_application_train.merge(df_bureau_categorical_agg, on = 'SK_ID_CURR', how = 'left')

# Merge with the stats of bureau
df_application_train = df_application_train.merge(df_bureau_numric_agg, on = 'SK_ID_CURR', how = 'left')

# Merge with the monthly information grouped by client
df_application_train = df_application_train.merge(df_bureau_balance_agg, on = 'SK_ID_CURR', how = 'left')

In [54]:
df_application_train.shape

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,client_bureau_balance_STATUS_X_count_count,client_bureau_balance_STATUS_X_count_mean,client_bureau_balance_STATUS_X_count_max,client_bureau_balance_STATUS_X_count_min,client_bureau_balance_STATUS_X_count_sum,client_bureau_balance_STATUS_X_count_norm_count,client_bureau_balance_STATUS_X_count_norm_mean,client_bureau_balance_STATUS_X_count_norm_max,client_bureau_balance_STATUS_X_count_norm_min,client_bureau_balance_STATUS_X_count_norm_sum
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,8.0,1.875000,3.0,0.0,15.0,8.0,0.161932,0.500000,0.000000,1.295455
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,0.000000
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,0.000000
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,4.0,3.250000,13.0,0.0,13.0,4.0,0.135417,0.541667,0.000000,0.541667
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,1.0,0.000000,0.0,0.0,0.0,1.0,0.000000,0.000000,0.000000,0.000000
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,11.0,1.545455,2.0,1.0,17.0,11.0,0.071150,0.166667,0.028571,0.782649

In [ ]:
df_application_train.head()

In [55]:
# 不要になったメモリを解放
del df_bureau, df_bureau_numric_agg, df_bureau_categorical_agg, df_bureau_balance, df_bureau_balance_agg, df_bureau_balance_numric_agg
gc.collect()

68

### previous_application

In [ ]:
def aggregate_client(df, group_vars, df_names):
    """Aggregate a dataframe with data at the loan level 
    at the client level
    
    Args:
        df (dataframe): data at the loan level
        group_vars (list of two strings): grouping variables for the loan 
        and then the client (example ['SK_ID_PREV', 'SK_ID_CURR'])
        names (list of two strings): names to call the resulting columns
        (example ['cash', 'client'])
        
    Returns:
        df_client (dataframe): aggregated numeric stats at the client level. 
        Each client will have a single row with all the numeric data aggregated
    """
    
    # Aggregate the numeric columns
    df_agg = agg_numeric(df, parent_var = group_vars[0], df_name = df_names[0])
    
    # If there are categorical variables
    if any(df.dtypes == 'category'):
    
        # Count the categorical columns
        df_counts = agg_categorical(df, parent_var = group_vars[0], df_name = df_names[0])

        # Merge the numeric and categorical
        df_by_loan = df_counts.merge(df_agg, on = group_vars[0], how = 'outer')

        gc.enable()
        del df_agg, df_counts
        gc.collect()

        # Merge to get the client id in dataframe
        df_by_loan = df_by_loan.merge(df[[group_vars[0], group_vars[1]]], on = group_vars[0], how = 'left')

        # Remove the loan id
        df_by_loan = df_by_loan.drop(columns = [group_vars[0]])

        # Aggregate numeric stats by column
        df_by_client = agg_numeric(df_by_loan, parent_var = group_vars[1], df_name = df_names[1])

        
    # No categorical variables
    else:
        # Merge to get the client id in dataframe
        df_by_loan = df_agg.merge(df[[group_vars[0], group_vars[1]]], on = group_vars[0], how = 'left')
        
        gc.enable()
        del df_agg
        gc.collect()
        
        # Remove the loan id
        df_by_loan = df_by_loan.drop(columns = [group_vars[0]])
        
        # Aggregate numeric stats by column
        df_by_client = agg_numeric(df_by_loan, parent_var = group_vars[1], df_name = df_names[1])
        
    # Memory management
    gc.enable()
    del df, df_by_loan
    gc.collect()

    return df_by_client

In [56]:
df_previous_application = pd.read_csv( os.path.join(args.dataset_dir, "previous_application.csv" ) )    
for col in df_previous_application.columns:
    # ラベル情報のエンコード
    if( df_previous_application[col].dtypes == "object" ):
        label_encoder = LabelEncoder()
        label_encoder.fit(list(df_previous_application[col]))
        df_previous_application[col] = label_encoder.transform(list(df_previous_application[col]))

df_previous_application_agg = df_previous_application.groupby('SK_ID_CURR', as_index = False).agg(['count', 'mean', 'max', 'min']).reset_index()
df_previous_application_agg.columns = rename_columns_levels( df_previous_application_agg, "revious_application", 'SK_ID_CURR' )

# 元データに統合
df_application_train = pd.merge(df_application_train, df_previous_application_agg, on='SK_ID_CURR', how='left' )

In [57]:
df_previous_application_agg.shape

(338857, 145)

In [58]:
df_previous_application_agg.head()

,SK_ID_CURR,revious_application_SK_ID_PREV_count,revious_application_SK_ID_PREV_mean,revious_application_SK_ID_PREV_max,revious_application_SK_ID_PREV_min,revious_application_NAME_CONTRACT_TYPE_count,revious_application_NAME_CONTRACT_TYPE_mean,revious_application_NAME_CONTRACT_TYPE_max,revious_application_NAME_CONTRACT_TYPE_min,revious_application_AMT_ANNUITY_count,...,revious_application_DAYS_LAST_DUE_max,revious_application_DAYS_LAST_DUE_min,revious_application_DAYS_TERMINATION_count,revious_application_DAYS_TERMINATION_mean,revious_application_DAYS_TERMINATION_max,revious_application_DAYS_TERMINATION_min,revious_application_NFLAG_INSURED_ON_APPROVAL_count,revious_application_NFLAG_INSURED_ON_APPROVAL_mean,revious_application_NFLAG_INSURED_ON_APPROVAL_max,revious_application_NFLAG_INSURED_ON_APPROVAL_min
0,100001,1,1.369693e+06,1369693,1369693,1,1.000000,1,1,1,...,-1619.0,-1619.0,1,-1612.000000,-1612.0,-1612.0,1,0.000000,0.0,0.0
1,100002,1,1.038818e+06,1038818,1038818,1,1.000000,1,1,1,...,-25.0,-25.0,1,-17.000000,-17.0,-17.0,1,0.000000,0.0,0.0
2,100003,3,2.281150e+06,2636178,1810518,3,0.666667,1,0,3,...,-536.0,-1980.0,3,-1047.333333,-527.0,-1976.0,3,0.666667,1.0,0.0
3,100004,1,1.564014e+06,1564014,1564014,1,1.000000,1,1,1,...,-724.0,-724.0,1,-714.000000,-714.0,-714.0,1,0.000000,0.0,0.0
4,100005,2,2.176837e+06,2495675,1857999,2,0.500000,1,0,1,...,-466.0,-466.0,1,-460.000000,-460.0,-460.0,1,0.000000,0.0,0.0

### pos_cash_balance

In [ ]:
df_pos_cash_balance = pd.read_csv( os.path.join(args.dataset_dir, "POS_CASH_balance.csv" ) )

# pos_cash_balance
for col in df_pos_cash_balance.columns:
    # ラベル情報のエンコード
    if( df_pos_cash_balance[col].dtypes == "object" ):
        label_encoder = LabelEncoder()
        label_encoder.fit(list(df_pos_cash_balance[col]))
        df_pos_cash_balance[col] = label_encoder.transform(list(df_pos_cash_balance[col]))

df_pos_cash_balance_agg = df_pos_cash_balance.groupby('SK_ID_PREV', as_index = False).agg(['count', 'mean', 'max', 'min']).reset_index()
df_pos_cash_balance_agg.head()

In [77]:
df_pos_cash_balance_agg.columns = rename_columns_levels( df_pos_cash_balance_agg, "pos_cash_balance", 'SK_ID_PREV' )
df_pos_cash_balance_agg.head()

AttributeError: 'Index' object has no attribute 'levels'

In [72]:
# 親データの 'SK_ID_CURR' に、対応する 'SK_ID_PREV' を紐付け
df_pos_cash_balance_agg = df_previous_application[['SK_ID_PREV', 'SK_ID_CURR']].merge(df_pos_cash_balance_agg, on = 'SK_ID_PREV', how = 'left')
df_pos_cash_balance_agg.head()

   SK_ID_PREV  SK_ID_CURR  pos_cash_balance_SK_ID_CURR_count  \
0     2030495      271877                                2.0
1     2802425      108129                                5.0
2     2523466      122040                               10.0
3     2819243      176158                               12.0
4     1784265      202054                                NaN

   pos_cash_balance_SK_ID_CURR_mean  pos_cash_balance_SK_ID_CURR_max  \
0                          271877.0                         271877.0
1                          108129.0                         108129.0
2                          122040.0                         122040.0
3                          176158.0                         176158.0
4                               NaN                              NaN

   pos_cash_balance_SK_ID_CURR_min  pos_cash_balance_MONTHS_BALANCE_count  \
0                         271877.0                                    2.0
1                         108129.0                                    5.0
2                         122040.0                                   10.0
3                         176158.0                                   12.0
4                              NaN                                    NaN

   pos_cash_balance_MONTHS_BALANCE_mean  pos_cash_balance_MONTHS_BALANCE_max  \
0                                  -1.5                                 -1.0
1                                  -4.0                                 -2.0
2                                  -5.5                                 -1.0
3                                 -11.5                                 -6.0
4                                   NaN                                  NaN

   pos_cash_balance_MONTHS_BALANCE_min  ...  \
0                                 -2.0  ...
1                                 -6.0  ...
2                                -10.0  ...
3                                -17.0  ...
4                                  NaN  ...

   pos_cash_balance_NAME_CONTRACT_STATUS_max  \
0                                        4.0
1                                        0.0
2                                        0.0
3                                        4.0
4                                        NaN

   pos_cash_balance_NAME_CONTRACT_STATUS_min  pos_cash_balance_SK_DPD_count  \
0                                        0.0                            2.0
1                                        0.0                            5.0
2                                        0.0                           10.0
3                                        0.0                           12.0
4                                        NaN                            NaN

   pos_cash_balance_SK_DPD_mean  pos_cash_balance_SK_DPD_max  \
0                           0.0                          0.0
1                           0.0                          0.0
2                           0.0                          0.0
3                           0.0                          0.0
4                           NaN                          NaN

   pos_cash_balance_SK_DPD_min  pos_cash_balance_SK_DPD_DEF_count  \
0                          0.0                                2.0
1                          0.0                                5.0
2                          0.0                               10.0
3                          0.0                               12.0
4                          NaN                                NaN

   pos_cash_balance_SK_DPD_DEF_mean  pos_cash_balance_SK_DPD_DEF_max  \
0                               0.0                              0.0
1                               0.0                              0.0
2                               0.0                              0.0
3                               0.0                              0.0
4                               NaN                              NaN

   pos_cash_balance_SK_DPD_DEF_min
0                              0.0
1                              0.0
2                              0.0
3                              0.0
4                              NaN

[5 rows x 30 columns]

In [ ]:
# １つの `SK_ID_CURR` に対して、複数の `SK_ID_PREV` が存在することになるので、`SK_ID_CURR` を集約
df_pos_cash_balance_agg = df_pos_cash_balance_agg.drop(columns = ['SK_ID_PREV']).groupby('SK_ID_CURR', as_index = False).agg(['count', 'mean', 'max', 'min']).reset_index()
df_pos_cash_balance_agg.columns = rename_columns_levels( df_pos_cash_balance_agg, "bureau_balance", 'SK_ID_CURR' )
df_pos_cash_balance_agg.head()

In [ ]:
# 元データに統合
df_train = pd.merge(df_train, df_pos_cash_balance_agg, on='SK_ID_CURR', how='left' )
df_test = pd.merge(df_test, df_pos_cash_balance_agg, on='SK_ID_CURR', how='left' )

### installments_payments

In [ ]:
# installments_payments
df_installments_payments = pd.read_csv( os.path.join(args.dataset_dir, "installments_payments.csv" ) )

for col in df_installments_payments.columns:
    # ラベル情報のエンコード
    if( df_installments_payments[col].dtypes == "object" ):
        label_encoder = LabelEncoder()
        label_encoder.fit(list(df_installments_payments[col]))
        df_installments_payments[col] = label_encoder.transform(list(df_installments_payments[col]))

df_installments_payments_agg = df_installments_payments.groupby('SK_ID_PREV', as_index = False).agg(['count', 'mean', 'max', 'min']).reset_index()
df_installments_payments_agg.columns = rename_columns_levels( df_installments_payments_agg, "installments_payments", ["SK_ID_CURR", 'SK_ID_PREV'] )

# 不要になったメモリを開放
del df_installments_payments
gc.collect()

In [ ]:
df_installments_payments_agg.shape

In [ ]:
df_installments_payments_agg.head()

In [ ]:
# credit_card_balance
df_credit_card_balance = pd.read_csv( os.path.join(args.dataset_dir, "credit_card_balance.csv" ) )

for col in df_credit_card_balance.columns:
    # ラベル情報のエンコード
    if( df_credit_card_balance[col].dtypes == "object" ):
        label_encoder = LabelEncoder()
        label_encoder.fit(list(df_credit_card_balance[col]))
        df_credit_card_balance[col] = label_encoder.transform(list(df_credit_card_balance[col]))

df_credit_card_balance_agg = df_credit_card_balance.groupby('SK_ID_PREV', as_index = False).agg(['count', 'mean', 'max', 'min']).reset_index()
df_credit_card_balance_agg.columns = rename_columns_levels( df_credit_card_balance_agg, "credit_card_balance", ["SK_ID_CURR", 'SK_ID_PREV'] )

# 不要になったメモリを開放
del df_credit_card_balance
gc.collect()

In [ ]:
df_credit_card_balance_agg.shape

In [ ]:
df_credit_card_balance_agg.head()

In [ ]:
gc.disable()